@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Neon&display=swap');


body {
background-color: #f1f1f1;
color: #0f141e;
font-size: 16px;
font-weight: normal;
font-family: 'Roboto', sans-serif;
}

.picture {
  background-color: #fff;
  border-radius: 20px;
  padding: 1px 1px;
  width: 300px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
  /* i took this code(about box-shadows) from another source  */
}


.info p {
  margin: 0;
  color: #86898f;
  font-style: italic;
  /* font-weight: bold; жирный текст */
  /* text-decoration: line-through; перечеркнутый текст */
  /* text-transform: uppercase; текст капсом */
  /* letter-spacing: 1px; спейс между буквами */
}


.social {
 background-color: red; 
 padding: 15px;
 margin: 100px;
}


.container {
max-width: 750px;
margin: auto;
border-color: ;
}









.div1 {
  /* float: left; */
  display: block;
  justify-content: center;

}


.div2 {
  /* float: left; */
  display: block;
  justify-content: center;
}